<div class="container">

        <div>firstname: {{readata.fname}}</div>
        <div>lastname: {{readata.lname}}</div>
        <div>mobile: {{readata.mobile}}</div>
        <div>Gender: {{readata.Gender}}</div>
        <div>address1: {{readata.address1}}</div>
        <div>address2: {{readata.address2}}</div>
        <div>Country: {{readata.country}}</div>
        <div>State: {{readata.state}}</div>
        <div>City: {{readata.city}}</div>
        <div>email: {{readata.email}}</div>
        <div>password: {{readata.password}}</div>
        <div>confirmpassword: {{readata.conpassword}}</div>
    
    </div>