<div class="container">

    <div>firstname: {{data.fname}}</div>
    <div>lastname: {{data.lname}}</div>
    <div>mobile: {{data.mobile}}</div>
    <div>Gender: {{data.Gender}}</div>
    <div>address1: {{data.address1}}</div>
    <div>address2: {{data.address2}}</div>
    <div>Country: {{data.country}}</div>
    <div>State: {{data.state}}</div>
    <div>City:{{data.city}}</div>
    <div>email: {{data.email}}</div>
    <div>password: {{data.password}}</div>
    <div>confirmpassword: {{data.confirmpassword}}</div>

</div>